modules:

  default:
    roots:
      lmod: /software/setonix/DATE_TAG/modules

    lmod:

      projections:
        # modules on magnus have one of [apps, tools, python, devel] as start of module name 
        # an then {name}/{version}'
        # will be necessary to think of how to include variants 
        # that does not require manual updates. Fortunately, not many packages 
        # need this update 
        # explicit usage of versions now enforced in lua template
        # Also, by default all packages are hidden modules 
        # unless explicitly added here 


        # hpc applications
        amber: 'applications/{name}/{version}'
        cpmd: 'applications/{name}/{version}'
        cp2k: 'applications/{name}/{version}'
        gromacs: 'applications/{name}/{version}'
        lammps: 'applications/{name}/{version}'
        namd: 'applications/{name}/{version}'
        nektar: 'applications/{name}/{version}'
        nwchem: 'applications/{name}/{version}'
        openfoam: 'applications/{name}/{version}'
        openfoam-org: 'applications/{name}/{version}'
        quantum-espresso: 'applications/{name}/{version}'
        vasp: 'applications/{name}/{version}'
        # since wrf and roms are currently not installed 
        # no need to add an explicity module
        # However, it may be useful to add our own module 
        # that provides all the dependencies needed by 
        # these packages
        #roms: 'applications/{name}/{version}'
        #wrf: 'applications/{name}/{version}'

        # numerical or parallelisation libraries 
        "boost +python cxxstd=14": 'libraries/{name}/{version}-c++14-python'
        "boost +python cxxstd=11": 'libraries/{name}/{version}-c++11-python'
        "boost +python cxxstd=98": 'libraries/{name}/{version}-c++98-python'
        "boost ~python cxxstd=14": 'libraries/{name}/{version}-c++14'
        "boost ~python cxxstd=11": 'libraries/{name}/{version}-c++11'
        "boost ~python cxxstd=98": 'libraries/{name}/{version}-c++98'
        eigen: 'libraries/{name}/{version}'
        fftw: 'libraries/{name}/{version}'
        gsl: 'libraries/{name}/{version}'
        hpx: 'libraries/{name}/{version}'
        "kokkos +hpx": 'libraries/{name}/{version}-hpx'
        "kokkos +openmp": 'libraries/{name}/{version}-openmp'
        kokkos: 'libraries/{name}/{version}'
        netlib-lapack: 'libraries/{name}/{version}'
        openblas: 'libraries/{name}/{version}'
        blaspp: 'libraries/{name}/{version}'
        opencv: 'libraries/{name}/{version}'
        plasma: 'libraries/{name}/{version}'
        petsc: 'libraries/{name}/{version}'
        plumed: 'libraries/{name}/{version}'
        netlib-scalapack: 'libraries/{name}/{version}'
        slate: 'libraries/{name}/{version}'
        trilinos: 'libraries/{name}/{version}'


        # IO libraries 
        # to account for all the hdf5 variants 
        # serial
        "hdf5 +cxx~mpi api=v112": 'libraries/{name}/{version}-api-v112'
        "hdf5 +cxx~mpi api=v110": 'libraries/{name}/{version}-api-v110'
        "hdf5 +cxx~mpi api=v18": 'libraries/{name}/{version}-api-v18'
        #parallel 
        "hdf5 ~cxx+mpi api=v112": 'libraries/{name}/{version}-parallel-api-v112'
        "hdf5 ~cxx+mpi api=v110": 'libraries/{name}/{version}-parallel-api-v110'
        "hdf5 ~cxx+mpi api=v18": 'libraries/{name}/{version}-parallel-api-v18'
        # and when api is default assume it is a dependency. 
        "hdf5 api=default +cxx~mpi": 'dependencies/.{name}/{version}'
        "hdf5 api=default ~cxx+mpi": 'dependencies/.{name}/{version}-parallel'
        # adios also has similar variants 
        "adios2 +hdf5 +python": 'libraries/{name}/{version}-hdf5'
        "adios2 ~hdf5 +python": 'libraries/{name}/{version}'
        netcdf-c: 'libraries/{name}/{version}'
        netcdf-cxx: 'libraries/{name}/{version}'
        netcdf-cxx4: 'libraries/{name}/{version}'
        netcdf-fortran: 'libraries/{name}/{version}'
        parallel-netcdf: 'libraries/{name}/{version}'

        # programing languages 
        go: 'programming-languages/{name}/{version}'
        julia: 'programming-languages/{name}/{version}'
        openjdk: 'programming-languages/{name}/{version}'
        python: 'programming-languages/{name}/{version}'
        r: 'programming-languages/{name}/{version}'
        perl: 'programming-languages/{name}/{version}'
        ruby: 'programming-languages/{name}/{version}'
        rust: 'programming-languages/{name}/{version}'

        # utilities 
        autoconf: 'utilities/{name}/{version}'
        automake: 'utilities/{name}/{version}'
        cmake: 'utilities/{name}/{version}'
        emacs: 'utilities/{name}/{version}'
        ffmpeg: 'utilities/{name}/{version}'
        gnuplot: 'utilities/{name}/{version}'
        matlab: 'utilities/{name}/{version}'
        nano: 'utilities/{name}/{version}'
        nextflow: 'utilities/{name}/{version}'
        parallel: 'utilities/{name}/{version}'
        py-pip: 'utilities/{name}/{version}'
        py-setuptools: 'utilities/{name}/{version}'
        reframe: 'utilities/{name}/{version}'
        singularity: 'utilities/{name}/{version}'

        # S3 clients 
        awscli: 'utilities/{name}/{version}'
        py-boto3: 'utilities/{name}/{version}'
        rclone: 'utilities/{name}/{version}'
        miniocli: 'utilities/{name}/{version}'

        # visualisation
        igv: 'visualisation/{name}/{version}'
        paraview: 'visualisation/{name}/{version}'
        visit: 'visualisation/{name}/{version}'
        vmd: 'visualisation/{name}/{version}'
        
        # python
        py-cython: 'python-packages/{name}/{version}'
        py-dask: 'python-packages/{name}/{version}'
        py-h5netcdf: 'python-packages/{name}/{version}'
        py-h5py: 'python-packages/{name}/{version}'
        py-ipython: 'python-packages/{name}/{version}'
        py-matplotlib: 'python-packages/{name}/{version}'
        py-mpi4py: 'python-packages/{name}/{version}'
        py-netcdf4: 'python-packages/{name}/{version}'
        py-numba: 'python-packages/{name}/{version}'
        py-numpy: 'python-packages/{name}/{version}'
        py-pandas: 'python-packages/{name}/{version}'
        py-plotly: 'python-packages/{name}/{version}'
        py-scikit-learn: 'python-packages/{name}/{version}'
        py-scipy: 'python-packages/{name}/{version}'

        #bio 
        exabayes: 'bio-applications/{name}/{version}'
        examl: 'bio-applications/{name}/{version}'

        #astro 
        "casacore +adios2 +openmp": 'astro-applications/{name}/{version}-adios2-openmp'
        "casacore +adios2 ~openmp": 'astro-applications/{name}/{version}-adios2'
        "casacore ~adios2 +openmp": 'astro-applications/{name}/{version}-openmp'
        "casacore ~adios2 ~openmp": 'astro-applications/{name}/{version}'
        cfitsio: 'astro-applications/{name}/{version}'
        wcslib: 'astro-applications/{name}/{version}'
        cppzmq: 'astro-applications/{name}/{version}'
        libzmq: 'astro-applications/{name}/{version}'
        apr: 'astro-applications/{name}/{version}'
        apr-util: 'astro-applications/{name}/{version}'
        cppunit: 'astro-applications/{name}/{version}'
        log4cxx: 'astro-applications/{name}/{version}'
        mcpp: 'astro-applications/{name}/{version}'
        xerces-c: 'astro-applications/{name}/{version}'
        subversion: 'astro-applications/{name}/{version}'
        pgplot: 'astro-applications/{name}/{version}'
        py-funcsigs: 'astro-applications/{name}/{version}'
        py-pyfits: 'astro-applications/{name}/{version}'
        py-astropy: 'astro-applications/{name}/{version}'
        py-healpy: 'astro-applications/{name}/{version}'
        py-emcee: 'astro-applications/{name}/{version}'
        chgcentre: 'astro-applications/{name}/{version}'
        idg: 'astro-applications/{name}/{version}'
        everybeam: 'astro-applications/{name}/{version}'
        wcstools: 'astro-applications/{name}/{version}'
        "wsclean +mpi ~idg ~everybeam": 'astro-applications/{name}/{version}-mpi'
        "wsclean +mpi +idg ~everybeam": 'astro-applications/{name}/{version}-idg-mpi'
        "wsclean +mpi +idg +everybeam": 'astro-applications/{name}/{version}-idg-everybeam-mpi'
        "wsclean ~mpi ~idg ~everybeam": 'astro-applications/{name}/{version}'
        "wsclean ~mpi +idg ~everybeam": 'astro-applications/{name}/{version}-idg'
        "wsclean ~mpi +idg +everybeam": 'astro-applications/{name}/{version}-idg-everybeam'

        #performance tests 
        "hpl ~openmp": 'benchmarking/{name}/{version}'
        "hpl +openmp": 'benchmarking/{name}/{version}+openmp'
        osu-micro-benchmarks: 'benchmarking/{name}/{version}'

        #developer tools
        caliper: 'developer-tools/{name}/{version}'
        hpctoolkit: 'developer-tools/{name}/{version}'
        py-hatchet: 'developer-tools/{name}/{version}'

        # by default all others are hidden
        # PJE: Marco had no hash for dependencies 
        # but just to be careful to avoid name conflicts
        # added hash
        all: 'dependencies/.{name}/{version}-{hash:7}'

